# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# ===========================
# Dataset
# ===========================
data/raw/images/
data/raw/*.csv

data/subset/
data/processed/

# Embeddings
data/embeddings/

# Outputs
outputs/

# Saved Models
models/saved_models/

# TensorFlow
*.h5
*.keras
*.ckpt

# FAISS
*.index

# OS Files
.DS_Store
Thumbs.db