# ==========================
# Core Libraries
# ==========================
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1

# ==========================
# Deep Learning
# ==========================
tensorflow==2.16.2

# ==========================
# Image Processing
# ==========================
opencv-python==4.10.0.84
Pillow==10.4.0

# ==========================
# Visualization
# ==========================
matplotlib==3.9.1
seaborn==0.13.2
plotly==5.23.0

# ==========================
# Recommendation
# ==========================
faiss-cpu==1.8.0.post1

# ==========================
# Utilities
# ==========================
tqdm==4.66.5


# Web App

streamlit==1.37.1
